<div class="main_slider swiper-container">
  <div class="swiper-wrapper">
  
  <% @main.take(5).each do |i| %>
    <input type="hidden" value="<%=i.id%>" id="<%=i.id%>">
    <div class="swiper-slide" style="width:100%; height:100%;">
      <div id="post_main_<%=i.id%>" class="main-background picture" style="background-image:url('<%=i.img_url%>');">
        <table class="tag_box">
          <tr>
            <td class="tag">
              <div class="slide-center">#<%=i.main_tag%></div>
            </td>
            <% for j in (0...2) %>
            <td class="tag">
              <div class="slide-center">#<%=i.tags[j]%></div>
            </td>
            <% end %>
          <tr>
        </table>
        <div class="blurry-box" style="background:url('http://cfs6.blog.daum.net/image/14/blog/2008/03/11/23/23/47d695f9411f3&filename=%EB%AC%B4%EB%8A%AC%EC%97%86%EB%8A%94%EA%B2%80%EC%A0%95%EC%83%89%EB%B0%B0%EA%B2%BD.jpg')"></div>
        <div class="text">
          <span style="font-size:20px;color:white"><%=i.subject%></span>
        </div>
      </div>
    </div>
    
    <script>
      $(function() {
        $('#post_main_<%=i.id%>').click(function() {
          <%if !session[:from_mobile].nil?%>
          document.location = "js:/"+$('#<%=i.id%>').val();
          <%else%>
          console.log("click <%=i.id%>");
          location.href = "/main/post_content/"+$('#<%=i.id%>').val();
          <%end%>
        });
      });
    </script>
  <% end %>
  
  </div>
</div>
<!-- main slider swiper -->
  <script>
    $(function() {
      var swiper = new Swiper('.main_slider', {
        speed: 700,
        /*direction: 'horizontal',*/
        //loop: true,
        //paginationClickable: true,
        grabCursor: true,
        autoplay: 3000,
        autoplayDisableOnInteraction: false,
        /*effect: 'cube',
        cube: {
          shadow: false,
          slideShadows: true,
          shadowOffset: 20,
          shadowScale: 0.94
        }*/
      });
    });
  </script>
  <!-- main slider end -->
  

  <!-- recent slider -->
  <br>
  <!--<script>
  //시간순 슬라이더 쿼리
    $(function() {
      var posts = Parse.Object.extend("posts");
      var recent = new Parse.Query(posts);
      recent.descending("createdAt");
      recent.exists("subject");
      recent.limit(10);
      recent.find({
        success: function(results) {
          for (i = 0; i < results.length; i++) {
            $('#recent_id_'+i).val(results[i].id);
            $('#recent_subject'+i).html(results[i].get("subject"));
            $('#recent_maintag'+i).html('#'+results[i].get("main_tag"));
          }
        },
        error: function(error) {
          console.log(error);
        }
      });
    });
  </script>-->
  <p style="margin-left:10px; font-size:1.3em; font-weight:bold;"># 최신 포스트</p>
  <div class="recent-slider swiper-container" style="border:3px solid #d91818;">
    <div id="recent" class="swiper-wrapper">
    <% @recent.reverse.take(10).each do |i| %>
      <input type="hidden" value="<%=i.id%>" id="<%=i.id%>">
      <div id="post_recent_<%=i.id%>" class="slide-center swiper-slide">
        <div style="font-size:15px; font-weight:bold;float:left">#<%=i.main_tag%>  </div>
        &nbsp;&nbsp;&nbsp;
        <div style="width:70%;text-align:center; font-size:15px; white-space: nowrap; overflow:hidden !important; text-overflow: ellipsis;float:right"><%=i["subject"]%></div>
      </div>
      <script>
        $(function() {
          $('#post_recent_<%=i.id%>').click(function() {
            <%if !session[:from_mobile].nil?%>
            document.location = 'js:/'+$('#<%=i.id%>').val();
            <%else%>
            location.href = '/main/post_content/'+$('#<%=i.id%>').val();
            <%end%>
          });
        });
      </script>
    <% end %>
    </div>
  </div>  

<!-- recent slider script -->
<script>
  $(function() {
    var swiper = new Swiper('.recent-slider', {
      direction: 'horizontal',
      loop: true,
      autoplay: 2500,
      autoplayDisableOnInteraction: false
    });
  });
</script>
<!-- recent slider end -->


<!--<script>
//선호 태그 쿼리
  $(function() {
    //이 쿼리에 앞서서 유저 테이블에서 쿼리를 통해 선호 태그들을 받아와서
    //배열에 저장한 후 반복문을 통해 각 배열 요소들을 기준으로 
    //post쿼리를 돌려서 아래의 값을 뽑아내야한다.
    var posts = Parse.Object.extend("posts");
    var preferTag = new Parse.Query(posts);
    preferTag.equalTo("main_tag","연예");
    preferTag.descending("createdAt");
    preferTag.limit(10);
    preferTag.find({
      success: function(results) {
        //핫이슈 슬라이더 쿼리와 동일하게 진행
        for (i = 0; i < results.length; i++) {
          $('#tag_maintag').html(results[i].get("main_tag"));
          var img = results[i].get("image_url");
          $('#tag_cardimg_'+i).css("background-image", "url('"+img+"')");
          $('#tag_cardsub_'+i).html(results[i].get("subject"));
          $('#tag_cardtag_'+i+'_main').html(results[i].get("main_tag"));
          for (j = 0; j < results[i].get("tags").length; j++) {
            $('#tag_cardtag_'+i+'_'+j).html(results[i].get("tags")[j]);
          }
          $('#tag_card_id_'+i).val(results[i].id);
        }
      },
      error: function(error) {
        console.log(error);
      }
    });
  });
</script>-->


<!--여기부터!!-->
<!-- tag slider -->
<div id="posts">
  <%= render(partial: 'post', collection: @tag_arr) %>
</div>
<%= will_paginate @tag_arr %>
 
  <!--<div style="width:100%; height:50px;"></div>
  <div class="tag-slider swiper-container">
    <p style="margin:0px; font-size:1.1em;">
      <span style="margin-left:10px; font-size:1.3em;"><strong>#</strong></span>
      <a style="float:right; margin-right:10px;" href="/main/post_list">더보기&nbsp;<span class="glyphicon glyphicon-chevron-right"></span></a>
    </p>
    <div style="width:100%; height:1em;"></div>
    <div class="swiper-wrapper">
      
        <div class="slide-topic swiper-slide">
          <div class="post_img" style="background-image:url('');background-size:cover;background-repeat:no-repeat;background-position: center center;">
          </div>
          <div style="width:100%; height:0.3em;"></div>
          <div class="slide-center post_title"><span style="font-size:15px"></span></div>
          <div class="slide-center post_tag">
            
              <div class="tag slide-center">#></div>
            
          </div>
        </div>
      
    </div>
  </div>-->
  
  
<div style="width:100%; height:30px;"></div>
<!-- tag slider swiper script -->
<script>
  $(function() {
    var swiper = new Swiper('.tag-slider', {
      speed: 500,
      slidesPerView: 1.3,
      loop: true,
      centeredSlides: true,
      resistance: true,
      resistanceRatio: 1,
      effect: 'coverflow',
      coverflow: {
        rotate: 40,
        stretch: 0,
        depth: 100,
        modifier: 1,
        slideShadows : true
      }
    });
  });
</script>
<!-- tag slider end -->

