<!-- main slider -->
<div class="main_slider swiper-container">
  <div class="swiper-wrapper">
  
  <% for x in (1..5) %>
    <div class="swiper-slide">
      <div class="swiper-slide-tag" style="width: 100%; height: 15%;">
        <button>#정치</button><button>#국정교과서</button><button>#한국사</button>
      </div>
      <div class="swiper-slide-content" style="width: 100%; height: 90%;">
        <div style="width:100%;height:100%;background-image:url('http://www.hapdongnews.co.kr/news/photo/201509/3748_879_4544.jpg');background-size:cover;background-repeat:no-repeat;background-position: center center;">
          <p style="font-size:20px;color:white;position:bottom;">국정교과서 과연 옳은 선택인가</p>
        </div>
      </div>
      <div style="width: 100%; height: 5%;">
      </div>
    </div>
  <% end %>
  
  </div>
  <div id="swiper-pagination-1" class="swiper-pagination"></div>
</div>
<!-- main slider script -->
<script>
  $(function() {
    var swiper = new Swiper('.main_slider', {
      speed: 700,
      direction: 'horizontal',
      loop: true,
      pagination: '#swiper-pagination-1',
      paginationClickable: true,
      grabCursor: true,
      autoplay: 3000,
      autoplayDisableOnInteraction: false
    });
  });
</script>
<!-- main slider end -->

<!-- fank slider -->
  <div class="rank-slider swiper-container" style="border:1px solid black">
    <div class="swiper-wrapper">
      <% for x in (1..10) %>
        <div class="swiper-slide"><%=x%>위:<%= @rank_arr[x] %></div>
      <% end %>
    </div>
  </div>  

<!-- rank slider script -->
<script>
  $(function() {
    var swiper = new Swiper('.rank-slider', {
      direction: 'vertical',
      loop: true,
      autoplay: 2500,
      autoplayDisableOnInteraction: false
    });
  });
</script>
<!-- rank slider end -->


<!-- tag slider -->

  <br>
  <div class="tag-slider swiper-container">
    <p style="margin:0px;">
      <span style="margin-left:10px;">#시사이슈</span>
      <a style="float:right; margin-right:10px;" href="/main/post_list">+ more..</a>
    </p>
    <div class="swiper-wrapper">
      <% for x in (0..4) %>
        <div class="slide-topic swiper-slide">
          <div class="post_img" style="background-image:url('<%=@sisa_pic[x]%>');background-size:cover;background-repeat:no-repeat;background-position: center center;">
          </div>
          <div class="slide-center post_title"><%=@sisa_sub[x] %></div>
          <div class="post_tag">#..?</div>
        </div>
      <% end %>
    </div>
  </div>
  
  <br>
  <div class="tag-slider swiper-container">
    <p style="margin:0px;">
      <span style="margin-left:10px;">#걸그룹</span>
      <span style="float:right; margin-right:10px;">+ more..</span>
    </p>
    <div class="swiper-wrapper">
      <% for x in (0..4) %>
        <div class="slide-topic swiper-slide">
          <div class="post_img" style="background-image:url('<%=@girl_pic[x]%>');background-size:cover;background-repeat:no-repeat;background-position: center center;">
          </div>
          <div class="slide-center post_title"><%=@girl_sub[x] %></div>
          <div class="post_tag">#..?</div>
        </div>
      <% end %>
    </div>
  </div>

<!-- tag slider script -->
<script>
  $(function() {
    var swiper = new Swiper('.tag-slider', {
      speed: 700,
      slidesPerView: 2,
      spaceBetween: 10,
      resistance: true,
      resistanceRatio: 1
    });
  });
</script>
<!-- tag slider end -->