
<% @post.each do |i| %>
<div class="post-slider swiper-container">
  <div id="<%=@id%>_card" class="post_card swiper-wrapper">
    <div id="<%=@id%>_left"class="slide-left slide-center swiper-slide"><%=i.left["content"]%></div>
    <div id="<%=@id%>" class="slide-topic swiper-slide">
      <div id="post_img" class="post_img picture" style="width:100%;height:100%;background-image:url('<%=i.img_url%>');background-size:cover;background-repeat:no-repeat;background-position: center center;">
        <div class="blurry-box" style="background:url('http://cfs6.blog.daum.net/image/14/blog/2008/03/11/23/23/47d695f9411f3&filename=%EB%AC%B4%EB%8A%AC%EC%97%86%EB%8A%94%EA%B2%80%EC%A0%95%EC%83%89%EB%B0%B0%EA%B2%BD.jpg')"></div>
        <div class="text" style="text-align:center;width:100%">
          <span id="post_title" style="font-size:15px;color:white"><%=i.subject%></span>
        </div>
      </div>
    </div>
    <div id="<%=@id%>_right" class="slide-right slide-center swiper-slide"><%=i.right["content"]%></div>
  </div>
  <div id="arrow_next_<%=@id%>" class="arrow-next"></div>
  <div id="arrow_prev_<%=@id%>" class="arrow-prev"></div>
</div>

<script>
  $(function() {
      var width = (window.innerWidth > 0) ? window.innerWidth : screen.width;
      console.log(width);
      $('#<%=@id%>_card').css("transform", "translate3d(-"+width+"px, 0px, 0px)");
      $('#<%=@id%>_card').on('transitionend webkitTransitionEnd oTransitionEnd otransitionend MSTransitionEnd', 
        function() {
          var a = $('#<%=@id%>_card').css("transform");
          var arrA = matrixToArray(a);
          var x = (arrA[4] == 0) ? Number(arrA[4]) : -arrA[4];
          console.log(x);
          var content;
          var confirm_option;
          
          if (width > x) {
            confirm_option = {
              title: 'Swing Vote',
              buttons: { '확인': true, '취소': false },
              focus: 0,
              submit:function(e,v,m,f){ 
          		  if (v === true) {
          		    console.log("left - true");
          		    <%if current_user%>
          		      post('/main/do_vote/<%=i.id%>_0');
          		    <%else%>
          		      alert("로그인 먼저 해주세요");
          		    <%end%>
                } else if (v === false) {
          		    console.log("left - false");
                  $('#<%=@id%>_card').css("transform", "translate3d(-"+width+"px, 0px, 0px)");
          		  }
        		  }
            };
            content = $("#<%=@id%>_left").html();
            $.prompt(content, confirm_option);
          } else if(width < x) {
            confirm_option = {
              title: 'Swing Vote',
              buttons: { '확인': true, '취소': false },
              focus: 0,
              submit:function(e,v,m,f){ 
          		  if (v === true) {
          		    console.log("right - true");
          		    <%if current_user%>
          		      post('/main/do_vote/<%=i.id%>_1');
          		    <%else%>
          		      alert("로그인 먼저 해주세요");
          		    <%end%>
                } else if (v === false) {
          		    console.log("right - false");
                  $('#<%=@id%>_card').css("transform", "translate3d(-"+width+"px, 0px, 0px)");
          		  }
        		  }
            };
            content = $("#<%=@id%>_right").html();
            $.prompt(content, confirm_option);
          }
      });
  });
</script>
<% end %>

<script>
  function matrixToArray(str) {
    return str.match(/(-?[0-9\.]+)/g);
  }
</script>
<script>
  $(function() {
    var swiper = new Swiper('.post-slider', {
      direction: 'horizontal',
      speed: 300,
      resistance: true,
      resistanceRatio: 1,
      nextButton: '#arrow_next_<%=@id%>',
      prevButton: '#arrow_prev_<%=@id%>',
    });
  });
</script>

<% @post.each do |i| %>
<h4 style="margin-left:1em;">관련 기사</h4>
<div class="link-slider swiper-container">
  <div class="swiper-wrapper">
  <% if (i.links.nil?) %>
    <div class="slide-center swiper-slide" style="">
      관련 링크가 없습니다...
    </div>
  <% else %>
    <input id="link_url_length" type="hidden">
    <% for j in (0...i.links.length) %>
    
      <div class="swiper-slide" style="background-image:url('<%=%>');width:100%;height:100%;background-size:cover;background-repeat:no-repeat;background-position: center center;">
        <a href="/main/readability/<%=i.id%>_<%=j%>" style="text-decoration:none;">
        <span style="font-size:1em; position:absolute; bottom:0; left:0; color:black; background:rgba(234,234,234,0.4);">
          <%=%>
        </span>
        </a>
      </div>
    <% end %>
  <% end %>
  </div>
</div>
<% end %>

<br>
<script>
  $(function() {
    var swiper = new Swiper('.link-slider', {
      slidesPerView: 2,
      spaceBetween: 10,
      resistance: true,
      resistanceRatio: 1,
    });
  });
</script>
</div>

<!--상태표시부분-->
<!--condition_statement(aaa)-->
<%if @is_login%>
  <!--condition_statement(aaa)-->
  <%if @is_participated%>
    <p>로그인 상태, 참여 하셨습니다</p>
    <!-- 통계 슬라이더 Stats Slider -->
  <h4 style="margin-left:1em;"><p>통계</p></h4>
  <div class="stats-slider swiper-container">
    <div class="swiper-wrapper">
      <div class="slide-center swiper-slide">
        <div class="ct-chart ct-square" style="width:100%;height:120px;">
          <p id="for_empty" style="display:none;">empty</p>
        </div>
      </div>
      <div class="slide-center swiper-slide">
        <div>
          <p><%=@left_content%> : <%=@left_num %> 명</p>
          <p><%=@right_content%> : <%=@right_num %> 명</p>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Stats slider Swiper Script -->
  <script>
    $(function() {
      var swiper = new Swiper('.stats-slider', {
        slidesPerView: 2,
        spaceBetween: 10,
        resistance: true,
        resistanceRatio: 1,
      });
    });
  </script>
  
  <!-- Stats Chartist Script -->
  <% if (@total == 0) %>
  <script>
    $(function() {
      $('#for_empty').show();
    });
  </script>
  <% else %>
  <script>
  var data = {
    labels: ['<%=@left_content%>', '<%=@right_content%>'],
    series: [<%=@left_num%>, <%=@right_num%>]
  };
  
  var options = {
    labelInterpolationFnc: function(value) {
      return value;
    }
  };
  
  var responsiveOptions = [
    ['screen and (min-width: 640px)', {
      chartPadding: 30,
      labelOffset: 100,
      labelDirection: 'explode',
      labelInterpolationFnc: function(value) {
        return value;
      }
    }],
    ['screen and (min-width: 1024px)', {
      labelOffset: 80,
      chartPadding: 20
    }]
  ];
  
  new Chartist.Pie('.ct-chart', data, responsiveOptions);
  </script>
  <% end %>
  
  <!--<script>
  //Donut Chart with svg animation
  var chart = new Chartist.Pie('.ct-chart', {
    labels: ['<%=@left_content%>', '<%=@right_content%>'],
    series: [<%=@left_num%>, <%=@right_num%>]
  }, {
    width: 200,
    height: 200,
    donut: true,
    donutWidth: 20,
    startAngle: 270,
    total: <%=@total * 2%>,
    showLabel: true,
    chartPadding: 30
  },options_responsive);
  
  var options_responsive = [
    ["screen and (max-width: 640px)", {
      showLine: false,
      showArea: true
    }]
  ]
  chart.on('draw', function(data) {
    if(data.type === 'slice') {
      // Get the total path length in order to use for dash array animation
      var pathLength = data.element._node.getTotalLength();
  
      // Set a dasharray that matches the path length as prerequisite to animate dashoffset
      data.element.attr({
        'stroke-dasharray': pathLength + 'px ' + pathLength + 'px'
      });
  
      // Create animation definition while also assigning an ID to the animation for later sync usage
      var animationDefinition = {
        'stroke-dashoffset': {
          id: 'anim' + data.index,
          dur: 1000,
          from: -pathLength + 'px',
          to:  '0px',
          easing: Chartist.Svg.Easing.easeOutQuint,
          // We need to use `fill: 'freeze'` otherwise our animation will fall back to initial (not visible)
          fill: 'freeze'
        }
      };
  
      // If this was not the first slice, we need to time the animation so that it uses the end sync event of the previous animation
      if(data.index !== 0) {
        animationDefinition['stroke-dashoffset'].begin = 'anim' + (data.index - 1) + '.end';
      }
  
      // We need to set an initial value before the animation starts as we are not in guided mode which would do that for us
      data.element.attr({
        'stroke-dashoffset': -pathLength + 'px'
      });
  
      // We can't use guided mode as the animations need to rely on setting begin manually
      // See http://gionkunz.github.io/chartist-js/api-documentation.html#chartistsvg-function-animate
      data.element.animate(animationDefinition, false);
    }
  });
  
  // For the sake of the example we update the chart every time it's created with a delay of 8 seconds
  // chart.on('created', function() {
  //   if(window.__anim21278907124) {
  //     clearTimeout(window.__anim21278907124);
  //     window.__anim21278907124 = null;
  //   }
  //   window.__anim21278907124 = setTimeout(chart.update.bind(chart), 10000);
  // });
  
  </script>-->
  
  
  
  <!--기존 댓글 체계-->
  <link href='http://fonts.googleapis.com/css?family=Noto+Sans' rel='stylesheet' type='text/css'>
  
  <div class="panel-header">
    <span id="panel-title"> Comments </span>
    <span class="counter"> 3 </span>
  </div>
  <form action="/main/do_reply/<%=@id%>" method="POST">
      <p class="formtitle"> 댓글 달기 </p>
      <input type="hidden" value="<%=@id%>" name="post_id">
      <input type="hidden" value="<%if @current_user_pos == "left"%>true<%else%>false<%end%>" name="pros_and_cons">
      <input id="author" type="text" placeholder="현재 사용자" value = "" name="user_id">
      <textarea placeholder="Comment" name="content"></textarea>
      <input class="commentButton" type='submit' value='댓글 등록' style="text-align:right"/>  
  </form>
  <div class="panel-collapse">
  <%for i in (0...@repliesDisplay.length)%>
    <!--왼쪽부분-->
    <%if !@repliesLeft[i].nil?%>
    <div class="comment_left">
      <div class="orientation">
          <img class="icon" src="http://i.imgur.com/JIt0euT.png"/>
          <span> <%=@repliesLeft[i].user_id%> </span>
          <small> <%=@repliesLeft[i].created_at.in_time_zone("Seoul").strftime("%Y/%m/%d %I:%M%p")%> </small>
      </div>
      <div class="comment-text">
       <%=@repliesLeft[i].content%>
      </div>
    </div>
    <%end%>
    <!--오른쪽부분-->
    <%if !@repliesRight[i].nil? %>
    <div class="comment_right">
      <div class="orientation">
          <img class="icon" src="http://i.imgur.com/JIt0euT.png"/>
          <span> <%=@repliesRight[i].user_id%> </span>
          <small> <%=@repliesRight[i].created_at.in_time_zone("Seoul").strftime("%Y/%m/%d %I:%M%p")%> </small>
      </div>
      <div class="comment-text">
       <%=@repliesRight[i].content%>
      </div>
    </div>
  <%end%>
<%end%>
  <!--condition_statement(aaa)-->  
  <%else%>
    <p>로그인 상태, 참여 하지 않았습니다 해주세요</p>
  <!--condition_statement(aaa)-->  
  <%end%>
<!--condition_statement(aaa)-->  
<%else%>
<p>로그인부터 하세요....</p>
<!--condition_statement(aaa)-->
<%end%>
<!--상태표시부분 끝-->


